/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color:white;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    margin: 0;
    flex-direction: column;
    overflow: hidden;
}

/* Container Styling */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 2000px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    opacity: 0; /* Start hidden */
    animation: fadeIn 2s forwards; /* Apply fade-in animation */
}
@keyframes fadeIn {
    to {
        opacity: 1; /* End at full opacity */
    }
}
/* Left and Right Side Panels */
.left-side, .right-side {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    min-width: 300px;
    max-width: 500px;
    padding: 10px;
}

/* Ensuring Images Fit Within Container and Screen */
.left-side img, .right-side img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 40vh; /* Each image takes up a maximum of 40% of the viewport height */
    object-fit: contain; /* Ensure the image fits within the container without being cropped */
}

/* Ensure that both images together fit within the viewport */
.left-side, .right-side {
    max-height: 80vh; /* Ensure the combined height does not exceed 80% of the viewport height */
    overflow: hidden; /* Hide overflow if any */
}

.left-side video {
    width: 100%;
    height: auto;
    max-height: 40vh; /* Video also takes up a maximum of 40% of the viewport height */
}

header {
    background: white;      
    color: #333;            
    text-align: center;     
    padding: 10px 20px;    
    width: 80%;            
    height: 30px;        
    position: fixed;        
    top: 0;                 
                
    z-index: 1000;          
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

/* Headings */
h1 {
    color: #7A1EA1;
}


/* List Styling */
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

li {
    background: #f0f0f0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Links */
a {
    display: block;
    margin-top: 20px;
}

/* Buttons */
button {
    background-color: #7A1EA1;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

#NewHere {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}
styled-button {
    background-color: #7A1EA1;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

.container {
    width: 80%; /* 或者您可以设置为固定宽度，例如 1200px */
    max-width: 1200px; /* 设置一个最大宽度 */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 可选：添加阴影以增强视觉效果 */
}

button:hover {
    background-color: #7A1EA1;
}

/* Form Elements */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


label, input, button {
    margin: 10px 0;
}

.list-group-item img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}
form label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #7A1EA1;
}
form input[type="text"],
form input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #7A1EA1;
}
form input[type="submit"] {
    background-color: #7A1EA1;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}
form input[type="submit"]:hover {
    background-color:#7A1EA1;
}

/* Responsive Design */
@media (max-width: 2000px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .left-side, .right-side {
        flex: 1 1 100%;
    }
}
