<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
    <div class="left-side">
        <img src="{{ url_for('static', filename='images/register.jpg') }}" alt="register">
    </div>

    <div class="right-side">
        <h2>Register</h2>
        <form id="registerForm">
            
            <input type="text" id="username" name="username" placeholder="username" class="input-item"required><br>
          
            <input type="email" id="email" name="email" placeholder="email" class="input-item"required><br>
           
            <input type="submit" value="Register">          
            <button id="JumpToTest">JumpToTest</button>
        </form>
       
    </div>
</div>
    <script>
        document.getElementById('JumpToTest').addEventListener('click', function() {
            window.location.href = '/cameratest'; 
        });

        document.getElementById('registerForm').onsubmit = async function(e) {
            e.preventDefault();
            const form = e.target;
            const data = {
                username: form.username.value,
                email: form.email.value
            };
            const response = await fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            const result = await response.json();
            if (response.ok) {
                window.location.href = '/login';
            } else {
                alert('Registration failed: ' + result.error);
            }
        };
    </script>
</body>
</html>
