<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Show Your True Self</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
    <div class="left-side">
        <h1>MemeMatic - Match with Memes</br>   

        <h2>This app shows you a variety of memes. It can sense if you like them or not. Based on your reactions, we will match you with the users who had the most similar reactions as you. We aim to find you a person who shares a similiar sense of humor!</h2>
        <p>In this app, we need to use your camera to record your face. </br>
            By pressing START you give us the permission to catch your reactions to the memes
          <p>
    <button id="StartButton">Start</button>

    </div>
    <div class="right-side">
        <img src="{{ url_for('static', filename='images/couple.jpg') }}" alt="Couple">
    </div>
</div>
<script>
    document.getElementById('StartButton').addEventListener('click', function() {
        window.location.href = '/login';
    });
 

</script>
</body>
</html>